/* -------BODY-------- */
body {
  font-family: "Roboto", sans-serif;
  color: #434455;
  background-color: #ffffff;
}

ul {
  list-style: none;
  margin: 0;
  padding-left: 0;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

/* -----HEADER----- */

.header {
  border-bottom: 1px solid #e7e9fc;
}

.container {
  width: 320px;
  margin: auto;
  padding-left: 16px;
  padding-right: 16px;
}

.header-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 16px;
  padding-bottom: 16px;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.17;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.address-link {
  font-weight: 400;
  font-style: normal;
  color: #434455;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #404bbf;
}

.header-nav-link:hover,
.header-nav-link:focus {
  color: #404bbf;
}

.logo-color {
  color: #2e2f42;
}

.header-nav-list {
  display: none;
}

.address-title {
  display: none;
}

.address-title {
  gap: 40px;
}

.humberger {
  width: 24px;
  height: 24px;
  border: none;
  padding: 5px 4px;
  background-color: transparent;
}

/* ------ MOBILE-MODAL ----- */

.modal-mobile.is-open {
  background-color: rgb(46, 47, 66, 0.4);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;

  display: flex;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-mobile {
  display: none;
}

.nav-modal-mobile {
  width: 320px;
  min-height: 640px;
  background-color: #fcfcfc;
  display: flex;
  flex-direction: column;
  padding: 72px 16px 16px 16px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-element.button-nav-mobile {
  position: absolute;
  top: 24px;
  right: 24px;
  margin-bottom: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
  border: solid 1px rgba(0, 0, 0, 0.1);
  padding: 0;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-list-mobile {
  margin-bottom: 168px;
}

.link-header-mobile {
  margin-bottom: 40px;
}

.link-header-mobile a {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
}

.link-header-mobile a:focus,
.link-header-mobile a:hover {
  color: #404bbf;
}

.address-mobile {
  margin-bottom: 48px;
}

.address-title-mobile li {
  margin-bottom: 24px;
}

.address-link-mobile {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #434455;
  font-style: normal;
}

.social-media-icons {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

/* -----SECTION 1 HERO----- */

.section-hero {
  max-width: 768px;
  padding-top: 76px;
  padding-bottom: 76px;
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/people-office.jpg);
  background-repeat: no-repeat;
  margin: auto;
  background-position: center;
  background-size: cover;
}

@media (max-width: 768px) and (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section-hero {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/2x-people-office1-min.jpg);
  }
}

.hero-title {
  margin-left: auto;
  margin-right: auto;
  font-size: 36px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 72px;
}

.hero-button {
  min-width: 169px;
  height: 56px;
  border: none;
  cursor: pointer;
  background-color: #4d5ae5;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  font-family: "Roboto", sans-serif;
  color: #ffffff;
  padding: 16px 32px 16px 32px;
  border-radius: 4px;
  display: block;
  margin: 0 auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-button:hover,
.hero-button:focus {
  background-color: #404bbf;
}

/* -----SECTION 2  Service----- */

.service,
.portfolio,
.team {
  padding: 96px 0 96px 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.service-list {
  display: flex;
  flex-direction: column;
  gap: 72px;
}

.service-icon {
  display: none;
}

.service-title {
  font-size: 36px;
  line-height: 1.11;
  font-weight: 700;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
  text-align: center;
}

.service-description {
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;
  font-size: 16px;
  line-height: 1.5;
}

/* -----SECTION 3 TEAM----- */

section:nth-child(3) {
  background-color: #f4f4fd;
  align-items: center;
  text-align: center;
}

.our-team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 72px;
}

.person-card {
  background-color: #ffffff;
  border-radius: 0 0 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
  width: 264px;
}

.title-qualities-name {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.qualities-description-team {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  text-align: center;
  margin-bottom: 8px;
}

.person-card-info {
  padding: 32px 0 32px;
}

.person-card-info-icons {
  display: flex;
  justify-content: center;
  gap: 24px;
}

.person-card-icon {
  width: 40px;
  height: 40px;
}

.person-card-icon-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.person-card-icon-link:hover,
.person-card-icon-link:focus {
  background-color: #404bbf;
}

.person-card-icon-svg {
  fill: #f4f4fd;
}
